#parent {
    display:flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;

    height:100vh;
    width:100vw;

    margin:0;
    padding:0;
}

/* #region Timer */
#timer {
    display:flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    height:100%;
    flex:1;

    padding:0;
    margin:0;
}

#timer #data {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}
/* #endregion */

/* #region Menu */
#menu {
    display:flex;
    justify-content: center;
    align-items: start;

    flex-direction: column;

    /* height: calc(100% - calc(2 * var(--border-width)));
    width: calc(20% - calc(2 * var(--border-width))); */
    height: 100%;
    width: 25%;

    background:var(--tertiary);

    border-left-style: solid;
    border-width:var(--border-width);
    border-color:var(--secondary);

    padding:0 !important;
    margin:0 !important;

    filter:drop-shadow(0 0 15px #0005);
}

#menu img {
    height:5px;
}

#list {
    display:flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

    padding-left:3ch;

    height:100%;
    width: 100%;
}

/* #region item */
.item {
    display:flex;
    justify-content: start;
    align-items: start;

    width:90%;

    /* margin-top:2ch; */

    /* background:red; */
}

.item #time {
    
}

.item h5#title {
    margin-left:1ch;

    text-align: start;
}
/* #endregion */

/* #region Duration */
.duration {
    color:#999;
    font-style:italic;
}

.duration h6 {
    margin:0;
    padding:0;
}
/* #endregion */

#add {
    background:red;
}
/* #endregion */
