/* #9708fc */
/* #66fcf1 */
*, html {
    margin:0;
    padding:0;
}

body {
    background-color:#000;
    padding:0px;
    margin:0px;
}

h1, h2, h3, p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
}

.stop-scrolling {
    height:100%;
    overflow:hidden;
}

.title-header {
    z-index: 100;

    height: 100vh;
    width: 100vw;

    display:flex;
    position:fixed;

    transition-duration:0.4s;

    background-color: #000;
}

.title-header p {
    margin:auto;
    padding:0;

    font-family: Consolas,monaco,monospace;
    font-size: 10vh;

    transition-duration: 0.4s;

    color:#66fcf1;
}

.title-header #title-direction div {
    position:relative;
}

.title-header #title-direction img, button {
    position:absolute;

    width:50px;

    left:50%;
    bottom:0;

    transform:translate(-50%, -50%);

    transition-duration:0.4s;
}

.title-header #title-direction button {
    background:transparent;
    border:none !important;

    cursor:pointer;
}

.bio #pfp {
    display:block;
    float:left;

    height: 50vw;
}

.bio {
    position:relative;
}

.bio #intro {
    z-index: 1;

    display:block;
    margin:auto;
    padding:20px;
    width:20vw;
    top:45vh;
    left:35vw;

    font-size:1vw;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    background-color: #000a;
    border-radius:20px;
    position:absolute;
    cursor:help;

    transition-duration:0.3s;
}

.bio #intro:hover {
    transform:scale(1.05);
}

.bio #languages img {
    height:6vw;
    padding:20px;
}

.bio #languages td, th {
    transition-duration:0.3s;
}

.bio #languages td:hover, th:hover {
    transform:translate(0,-10px);
    color:#fff8;
    filter:drop-shadow(0 0 20px);
}

.bio #languages p {
    font-size:30px;
}

.bio #languages {
    position:absolute;

    top:30vh;
    left:60vw;

    width:27vw;
    height:28vh;
}

#project-title {
    margin:auto;
    padding:5vh 0;
    clear:both;
    font-size: 2vw;
}

.projects {
    text-align: center;
    padding:0;
    margin:0;
}

.project-item {
    display:flex;
    flex-flow: row;
    align-items: center;

    margin:3vh auto 0 auto;
    padding:0;

    height:30vh;
    width:60vw;

    overflow:hidden;

    background-size:cover;
    background-color:#000;

    border-radius:1.5vw;

    transition-duration:0.3s;
}

.project-item #indev {
    flex: 5;
    width:15vw;
    overflow-wrap:break-word;
    font-size:2vw;
}

.project-item #description {
    flex: 1;
    width:10vw;
    text-align: center;
    overflow-wrap:break-word;
    font-size:1vw;
    margin: 0 3vw;
}

.projects a {
    text-decoration: none;
}

.project-item:hover {
    transform:scale(1.05);
}



.socials {
    display:flex;
    flex-flow: row;
    width:100%;
    justify-content: center;

    margin:20vh 0 10vh 0;
    padding:0;
}

.socials a {
    padding:0;
    height:3vw;
    width:3vw;
    background-size: cover;
    border-radius:50px;
    border-width:0;

    transition-duration:0.3s;
    margin:0 5vw;
}

.socials a:hover {
    transform:scale(1.15);
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

.credits {
    color: white;
    font-size:10px;
    text-align: center;
    width: calc(100% - 20px);
    padding: 10px;
}

.credits span {
    color: black;
}


.screen-selection {
    display:flex;

    position:sticky;
    z-index: 90;

    text-align: center;
    border-radius: 30px;

    left:90vw;
    top:20vh;
    height:7vh;
    width:12vw;

    background-color: #66fcf1;

    text-decoration: none;

    transition-duration: 0.3s;
}

.screen-selection p {
    font-family: Consolas,monaco,monospace;

    font-size:1.5vw;

    color:black;

    margin:auto;
}

.screen-selection img {
    transform:rotate(-90deg);

    height:5vh;
    margin:auto;
}

.screen-selection:hover {
    transform: translateX(1vw);
}