/* #9708fc */
/* #66fcf1 */
*, html {
    margin:0;
    padding:0;
}

body {
    background-color: #000;
    padding:0px;
    margin:0px;
}

@font-face {
    font-family: consolas;
    src: url("/Fonts/ShareTechMono-Regular.ttf");
}

h1, h2, h3, p {
    font-family: consolas;
    color:white;
}

.stop-scrolling {
    height:100%;
    overflow:hidden;
}

/*#region Title (glitched ajian_nedo) */
.title-header {
    z-index: 100;

    height: 100vh;
    width: 100vw;

    display:flex;
    position:fixed;

    transition-duration:0.4s;

    background-color: #000;
}

.title-header p {
    margin:auto;
    padding:0;

    font-family: Consolas,monaco,monospace;
    font-size: 10vh;

    transition-duration: 0.4s;

    color:#66fcf1;
}

.title-header #title-direction div {
    position:relative;
}

.title-header #title-direction img, button {
    position:absolute;

    width:50px;

    left:50%;
    bottom:0;

    transform:translate(-50%, -50%);

    transition-duration:0.4s;
}

.title-header #title-direction button {
    background:transparent;
    border:none !important;

    cursor:pointer;
}

/* #endregion */

/*#region Scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 5px;
    height:5px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}
/*#endregion */

/*#region Bio */
.bio #self_image {
    display:block;
    height:50vw;
    -webkit-mask-image: linear-gradient(to left, transparent,black,black);

    float:left;
    margin:0;
    padding:0;
}

.bio p {
    position: absolute;

    background:#fff2;
    color:white;
    font-size: 1.2vw;
    width:20vw;
    
    left:65vw;
    top:83vh;
    height:fit-content;

    margin:auto;
    padding:1vw;

    text-align: center;
    cursor:help;

    border-radius:1vw;

    transition-duration:0.5s;
}

.bio p:hover {
    transform:scale(1.05);
}

.bio a {
    text-decoration: none;
    color:white;
}

.bio #horizontal_scroll {
    overflow:auto;
    white-space: nowrap;

    width:30vw;
    position:absolute;

    left:60vw;
    top:110vh;

    background:#fff1;
    border-radius:1vw;
}

.bio #horizontal_scroll img, #horizontal_scroll div img{
    height:5vw;
    padding:2vw;

    transition-duration: 0.3s;
}

.bio #horizontal_scroll img:hover, #horizontal_scroll div img:hover{
    transform:translate(0, -10px);
    color:#fff8;
    filter:drop-shadow(0 0 20px);
}
/* #endregion */

/*#region Showcase */
.showcase #buttonIncrease, #buttonDecrease {
    display:block;
    width:5vw;
    cursor:pointer;
    margin-top:30vh !important;

    padding:0;
    margin:0 2vw 0 2vw;
}

.showcase #buttonIncrease img, #buttonDecrease img {
    transition-duration:0.3s;
}

.showcase #buttonIncrease {
    float:right;
}

.showcase #buttonDecrease {
    float:left;
}

/* #region stupid button stuff*/
.showcase #buttonIncrease {
    height:8vh;
    transform:rotate(-90deg);
}

.showcase #buttonIncrease img {
    height:8vh;
}

.showcase #buttonDecrease img {
    height:8vh;
}

.showcase #buttonIncrease img:hover, #buttonDecrease img:hover {
    transform:translateY(1vw);
}

.showcase #buttonDecrease {
    height:8vh;
    transform:rotate(90deg);
}
/* #endregion */

.window {
    overflow:hidden;
    display:block;
    float:left;
    height:70vh;
    width: 70vw;
    padding:0;
    margin:0 5.5vw 0 5.5vw;

    border-radius:1.5vw;
    color:white;
    filter:drop-shadow(0 0 0.1vw);

    transition-duration:0.5s;
}

.window:hover {
    transform:scale(1.01);
}

.window img {
    display:block;
    height:100%;
    width:100%;
    object-fit: cover;
}

.window #description p {
    display:block;
    overflow:auto;

    position:relative;
    margin-top:-10vh;
    height:7vh;
    padding:2vh 0 5vh 0;
    text-align: center;
    font-size: 2vh;
    background:#0008;
}

/* #endregion */

/* #region Socials */
.socials {
    display:flex;
    flex-flow: row;
    width:100%;
    justify-content: center;

    /* margin:20vh 0 0 0; */
    margin:0;
    padding:20vh 0 0 0;
}

.socials a {
    padding:0;
    height:3vw;
    width:3vw;
    background-size: cover;
    border-radius:50px;
    border-width:0;

    transition-duration:0.3s;
    margin:0 5vw;
    cursor: pointer;
}

.socials a:hover {
    transform:scale(1.15);
}

.discord-select {
    overflow:hidden;
    
    transition-duration:0.5s;

    height:fit-content;
    width:max-content;

    border-color:#ffff;
    border-style:solid;
    border-width: 1px;
    border-radius:0px;

    background-color: #0000;
}

.footer {
    margin-top:2vh;
    height:30vh;
}
/* #endregion */