/* #9708fc */
/* #66fcf1 */

body {
    margin:0;
}

p, a {
    color:white;
    font-family: Consolas,monaco,monospace;
}

.screen-selection {
    position:absolute;
    overflow:hidden;
    
    background-color: #ffffff66;
    float:left;

    height:100vh;

    transition-duration: 0.5s;
}


.screen-selection p, a {
    display:block;

    height : 3vh;
    width:10vw;
    margin:1vh auto 1vh auto;
    line-height:3vh;
    text-align: center;

    border-radius:1vw;
    background-repeat: no-repeat;
    background-size: cover;

    cursor:pointer;
}

.screen-selection a {
    background-color: #66fcf1;
    color:black;
    text-decoration: none;

    margin-bottom: 4vh;

    transition-duration:0.3s;
}

.screen-selection a img {
    height:1.5vh;
    transform:rotate(90deg);
}

.screen-selection a:hover {
    transform:translateX(-2vw);
}