body {
    margin:0;
}

p {
    color:white;
}

.screen-selection {
    position:absolute;
    overflow:hidden;
    
    background-color: #ffffff66;
    float:left;

    height:100vh;

    transition-duration: 0.5s;
}


.screen-selection p {
    display:block;

    height : 3vh;
    width:10vw;
    margin:1vh auto 1vh auto;
    line-height:3vh;
    text-align: center;

    border-radius:1vw;

    cursor:pointer;
}