@import url('https://fonts.googleapis.com/css?family=Courier Prime:700|Courier Prime:400');

:root {
    --text: #fff;
    --background: #08030c;
    --primary: #8E0EF6;
    --secondary: #0f0618;
    --accent: #8008E2;
    --border-color:#292929;
}

body {
    font-family: 'Courier Prime';
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6, input {
    font-family: 'Courier Prime';
    font-weight: 700;

    margin:0;
    padding:0;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

html, head, body {
    background:var(--background);

    margin:0;
    padding:0;

    color:var(--text);
}

/* #region scrollbar */
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: 1000px;
}
/*#endregion */

#parent {
    height:100vh;
    width: 100%;
    
    margin:0;
    padding:0;

    display:flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

h1 {
    margin:0 !important;
    padding:0 !important;
}

h4 {
    margin-top:1ch;

    font-size: 2rem;
    font-weight: lighter;
    font-style:italic;
}
