:root {
    --task-height:10em;
    --task-width:14em;
}

body {
    height:100vh !important;
    overflow: hidden;

    background:black;
}

#parent {
    display:flex;
    justify-content: space-between;
    align-items: center;

    height:calc(100vh - 2ch);
    width:calc(100vw - 2ch);

    margin:0;
    padding:1ch;

    overflow:hidden;

    /* background:blue; */
}

/* #region sidebar */
#sidebar {
    display:flex;
    justify-content: start;
    align-items:center;

    flex-direction: column;

    /* background:var(--secondary); */

    /* background:red; */

    width:20%;
    height:100%;

    /* border-radius:var(--border-radius); */
}

#sidebar > div {
    width:calc(100% - 3ch);
    padding:1.5ch;
    margin-top:1ch;

    background:var(--tertiary);
    border-radius:var(--border-radius);
}

#sidebar > div:first-of-type {
    margin-top:0;
}

/* #region user-data */
#sidebar #user-data {
    display:flex;
    justify-content: start;
    align-items: center;

    cursor:pointer;
}

#sidebar #user-data img {
    height:4ch;
    padding-right:1.5ch;
}

#sidebar #user-data h4 {
    font-size:1.5em;
}

#sidebar #user-data h4:last-child {
    font-style:italic;
    color:#fff7;
    font-size:0.9em;
}
/* #endregion */

/* #region create */
#sidebar #create {
    display:flex;
    justify-content: start;
    align-items: center;

    cursor:pointer;
}

#sidebar #create:hover img {
    transform:rotateZ(360deg);
}

#sidebar #create img {
    height:2ch;
    background:var(--primary);

    padding:1ch;

    margin-right:1.5ch;

    border-radius:1000px;

    transition-duration:0.5s;
}
/* #endregion */

/* #region soon */
#sidebar #soon {
    width:calc(100% - 4ch);
    padding:2ch;

    cursor:pointer;
}

#sidebar #soon > h5 {
    font-size:1em;
    color:#fff9;
    font-style:italic;
}

#sidebar #soon #actions {
    display:flex;
    justify-content:space-between;
    align-items:center;

    /* margin-top:1ch; */
}

#sidebar #soon #actions h5 {
    font-size:1.1em;
    margin-left:1ch;
}

#sidebar #soon #actions h5:last-child {
    background: var(--primary);
    padding:1ch 0.8em;
    margin:0;
    border-radius:var(--border-radius);

    cursor:pointer;
}
/* #endregion */
/* #endregion */

/* #region main */
#main {
    /* background:var(--tertiary); */
    width:90%;
    margin-left:1ch;
    height:100%;

    border-radius:var(--border-radius);

    overflow-x:auto;
    overflow-y:auto;

    position:relative;
}

#main table {
    /* background:blue; */

    border-collapse: collapse;
}

/* #region header headache */
/* little top left corner */
#main thead th:first-of-type {
    min-width: 5ch !important;
    width: 5ch !important;
    max-width: 5ch !important;
}

/* horizontal headers */
#main thead th:last-of-type {
    /* min-width:var(--task-width);
    max-width:var(--task-width); */

    /* width:calc(var(--task-width) * 7); */
    /* display:inline-flex; */

    padding:0;
    /* border-style:solid; */

    z-index: 100;

    position:sticky;
    top:0;

    /* display:flex;
    justify-content: space-evenly;
    align-items: start; */
}

/* time + events container */
#main #header-container {
    display:flex;
}

/* day + date in header */
#main #header-container .header {
    background:var(--tertiary);
    border-radius:var(--border-radius);

    /* width: fit-content; */
    width:calc(var(--task-width) - 3ch) !important;

    margin:0 1.5ch;

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* align-content: center; */
    /* text-align: center; */
}

/* day + date text in header */
#main #header-container .header h4 {
    width: fit-content;
}

/* date text in header */
#main #header-container .header h4:last-child {
    font-size: 2.4em;
}

#main table h4 {
    font-size:1.3em;
}

/* vertical headers */
#main tbody td:first-child {
    position:sticky;
    left:0;

    z-index: 50;
}

/* time container in vertical header */
#main tbody td:first-child > div {
    height:var(--task-height);

    /* border-style:solid; */

    display:flex;
    justify-content: center;
    align-items: end;
}

/* time text in vertical header */
#main tbody td:first-child > div h4 {
    transform:translateY(50%);
}
/* #endregion */

#main #content {
    height:calc(24 * var(--task-height));
    display:inline-block;

    width:100%;

    align-items:start;
}

#main tbody td {
    padding:0;
    /* dont know why theres even 1 padding by default */
}

/* #region gridlines */
#main #gridline {
    position:absolute;

    font-size:1em;

    width:calc(7 * var(--task-width));

    z-index: 1;
}

#main #gridline hr {
    border-collapse: collapse;
    padding:0;
    margin:0;
    border-style:solid;

    border-right-width: 0;
    border-left-width: 0;

    width:100%;

    color:#fff4; 

    margin-top:calc(var(--task-height) - 2px);
}
/* #endregion */

/* #region item */
#main #day-parent {
    position:relative;

    height:100%;
    width:100%;

    z-index: 20;
}

.item, .item-container {
    position:absolute;

    top:0;

    background:var(--tertiary);
    border-radius:var(--border-radius);

    width:calc(var(--task-width) - 2ch - 4ch);
    margin:0 1ch;
    padding:2ch;

    height:calc(20em - 4ch);

    cursor:pointer;

    filter:drop-shadow(0 0 10px #0009);
}

.item #title {
    font-size: 1.8em;
}

.item #time {
    font-style:italic;
    color:#fffb;
}

/* #region item container */
.item-container {
    background:var(--primary);

    display:flex;
    justify-content: center;
    align-items: center;

    /* fixes drop shadow being cut off when displaying above other elements */
    -webkit-transform:translateZ(0);
    transform:translateZ(0);

    /* top:auto; */

    /* overflow:auto; */
}

.item-container #user-click {
    /* background:red; */

    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;

    border-radius: var(--border-radius);
}

/* number of grouped items */
.item-container h1 {
    text-align: center;
}

.item-container #children {
    opacity: 0;

    overflow:auto;

    /* background:red; */
}

.item-container .item {
    filter:none;
    transition-duration:0.3s;

    top:0 !important;

    /* margin-left:-1ch; */
}

.item-container[aria-label='open'] #children {
    opacity: 1;
}

.item-container[aria-label='open'] #children .item {
    filter:drop-shadow(0 0 10px #0009);

    /* fixes drop shadow being cut off when displaying above other elements */
    -webkit-transform:translateZ(0);
    transform:translateZ(0);

    cursor:pointer;
}
/* #endregion */

/* #endregion */


/* #endregion */
