:root {
    --task-height:10em;
    --task-width:14em;
}

body {
    height:100vh !important;
    overflow: hidden;

    background:black;
}

#parent {
    display:flex;
    justify-content: space-between;
    align-items: center;

    height:calc(100vh - 2ch);
    width:calc(100vw - 2ch);

    margin:0;
    padding:1ch;

    overflow:hidden;

    /* background:blue; */
}

/* #region sidebar */
#sidebar {
    display:flex;
    justify-content: start;
    align-items:center;

    flex-direction: column;

    /* background:var(--secondary); */

    /* background:red; */

    width:20%;
    height:100%;

    /* border-radius:var(--border-radius); */
}

#sidebar > div {
    width:calc(100% - 3ch);
    padding:1.5ch;
    margin-top:1ch;

    background:var(--tertiary);
    border-radius:var(--border-radius);
}

#sidebar > div:first-of-type {
    margin-top:0;
}

/* #region user-data */
#sidebar #user-data {
    display:flex;
    justify-content: start;
    align-items: center;
}

#sidebar #user-data img {
    height:4ch;
    padding-right:1.5ch;
}

#sidebar #user-data h4 {
    font-size:1.5em;
}

#sidebar #user-data h4:last-child {
    font-style:italic;
    color:#fff7;
    font-size:0.9em;
}
/* #endregion */

/* #region create */
#sidebar #create {
    display:flex;
    justify-content: start;
    align-items: center;
}

#sidebar #create img {
    height:2ch;
    background:var(--primary);

    padding:1ch;

    margin-right:1.5ch;

    border-radius:1000px;
}
/* #endregion */

/* #region soon */
#sidebar #soon {
    width:calc(100% - 4ch);
    padding:2ch;
}

#sidebar #soon > h5 {
    font-size:1em;
    color:#fff9;
    font-style:italic;
}

#sidebar #soon #actions {
    display:flex;
    justify-content:space-between;
    align-items:center;

    /* margin-top:1ch; */
}

#sidebar #soon #actions h5 {
    font-size:1.1em;
    margin-left:1ch;
}

#sidebar #soon #actions h5:last-child {
    background: var(--primary);
    padding:1ch 0.8em;
    margin:0;
    border-radius:var(--border-radius);
}
/* #endregion */
/* #endregion */

/* #region main */
#main {
    /* background:var(--tertiary); */
    width:90%;
    margin-left:1ch;
    height:100%;

    border-radius:var(--border-radius);

    overflow-x:auto;
    overflow-y:auto;

    position:relative;
}

#main table {
    /* background:blue; */

    border-collapse: collapse;
}

/* #region header headache */
/* little top left corner */
#main table th:first-of-type {
    min-width: 5ch !important;
    width: 5ch !important;
    max-width: 5ch !important;
}

/* horizontal headers */
#main table th {
    min-width:var(--task-width);
    max-width:var(--task-width);

    padding:0;
    /* border-style:solid; */

    z-index: 100;

    position:sticky;
    top:0;
}

/* day + date in header */
#main thead th > div {
    background:var(--tertiary);
    border-radius:var(--border-radius);

    /* width: fit-content; */
    width:calc(100% - 3ch);

    margin:0 1.5ch;

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* align-content: center; */
    /* text-align: center; */
}

/* day + date text in header */
#main thead th > div h4 {
    width: fit-content;
}

/* date text in header */
#main thead th > div h4:last-child {
    font-size: 2.4em;
}

#main table h4 {
    font-size:1.3em;
}

/* vertical headers */
#main table tbody td:first-child {
    position:sticky;
    left:0;
}

/* time container in vertical header */
#main table tbody td:first-child > div {
    height:var(--task-height);

    /* border-style:solid; */

    display:flex;
    justify-content: center;
    align-items: end;
}

/* time text in vertical header */
#main table tbody td:first-child > div h4 {
    transform:translateY(50%);
}
/* #endregion */

#main #content {
    height:calc(24 * var(--task-height));

    /* width: calc(var(--task-width) + 5ch) !important; */

    align-items:start;

    /* background:red; */
}

#main tbody td {
    padding:0;
    /* dont know why theres even 1 padding by default */
}

/* #region gridlines */
#main .gridline {
    position:absolute;

    font-size:1em;

    width:var(--task-width);

    z-index: 1;
}

#main .gridline hr {
    border-collapse: collapse;
    padding:0;
    margin:0;
    border-style:solid;

    border-right-width: 0;
    border-left-width: 0;

    width:100%;

    color:#fff4; 

    margin-top:calc(var(--task-height) - 2px);
}
/* #endregion */

/* #region item */
#main .day-parent {
    position:relative;

    height:100%;
    max-width:var(--task-width);
    min-width: var(--task-width);

    /* background:green; */
    /* border-style:solid; */
    overflow:hidden;

    z-index: 50 !important;
}

.item {
    position:relative;
    top:10em;

    background:var(--tertiary);
    border-radius:var(--border-radius);

    width:calc(100% - 2ch - 4ch);
    margin:0 1ch;
    padding:2ch;

    height:calc(20em - 4ch);
}

.item #title {
    font-size: 1.8em;
}

.item #time {
    font-style:italic;
    color:#fffb;
}
/* #endregion */


/* #endregion */
