#container {
    height:100vh;
    width:100%;

    display:flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

#parent {
    padding:5ch;

    display:flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    width:fit-content;

    background:var(--secondary);
    border-radius:1.5rem;
    border-style:solid;
    border-width:5px;
    border-color:var(--border-color);

    filter:drop-shadow(0 1ch 3ch #0006);
}

#title {
    text-align:center;
}

textarea {
    margin-top:1em;

    color:white;
    background:var(--tertiary);

    border:none;
    border-radius:1.5rem;

    padding:0.4rem 1ch;

    width:100%;
    height:7em;

    font-size:1.5rem;

    outline:none;
    resize:none;

    transition-duration:0.3s;
    transition-timing-function: ease-in-out;
    transition-property: height, padding;
}

#answer[aria-label="closed"] {
    height:0 !important;
    padding:0;

    color:#0000;
}

/* #region Filter */
#filter-section {
    display:flex;
    justify-content:start;
    align-items:center;

    height:3.8rem;

    width: 100%;
}

#progress {
    text-align: center;

    font-style:italic;
    font-size:2rem;

    padding:0.6rem 0.6ch;
    width:fit-content;

    border-radius:1.5rem;

    user-select: none;
    cursor:pointer;

    background:var(--primary);
}

#filter-container {
    height:100%;

    display:flex;
    justify-content: center;
}

#filter {
    position:relative;

    overflow-x:hidden;
    overflow-y:scroll;

    display:flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;

    width:80%;
    height:30em;

    background:var(--tertiary);

    border-radius:1.5rem;

    transition-duration:0.3s;
}

#filter[aria-label="closed"] {
    height:100%;
    overflow:hidden;
}

#filter h3, #filter label {
    font-size: 2rem;

    padding:0.6rem 0.6ch;

    transition-duration:0.3s;

    user-select:none;

    border-radius:1.5rem;

    cursor:pointer;
}

#filter h3 {
    background:var(--primary);
    width:calc(100% - 1.2rem);
    /* margin:0; */
}

#filter label {
    margin:0.5rem 2ch 0 2ch;
}

#filter label input {
    display:none;
}

#filter label:has(input:checked) {
    background:var(--border-color);
}



/* #filter:has(#selection[aria-label="closed"]) h3 {
    border-radius:1.5rem !important;
}

#filter #selection {
    display:flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;

    position:absolute;
    top:100%;

    font-size:2rem;

    height:5em;
    width:fit-content;
    overflow-y:scroll;

    margin:0;
    padding:0.2ch 0.2ch;

    background:green;

    transition-duration:0.3s;
}

#filter #selection[aria-label="closed"] {
    height:0;
    margin:0;
    padding-top:0;
    padding-bottom:0;
}

#filter #selection label {
    font-size:2rem;

    padding:0.1rem 0.2ch;
    margin-top:0.2rem !important;

    user-select:none;
}

#filter #selection input[type="checkbox"] {
    display:none;
}

#filter #selection label:has(input[type="checkbox"]:checked) {
    background:red;
} */
/* 31 mins at 2h 35mins */

/* #endregion */

/* #region Credits */
#credit-container {
    color:#fff4;

    margin-top:0.5rem;

    text-align: center;
}

#credit-container h4, #credit-container pre {
    font-size:1rem;
    font-style:italic;
}

#credit-container h4 {
    cursor:pointer;
}

#credit-container h4:hover {
    text-decoration: underline;
}

#credits {
    transition-duration:0.3s;
    height:10em;

    overflow:hidden;
}

#credits[aria-label="closed"] {
    height:0;
}
/* #endregion */

@media screen and (max-aspect-ratio: 1.42) {
    #parent {
        padding:5rem;
    
        width:calc(80% - 5rem);
    
        border-radius:1.5rem;
    }

    #title {
        font-size:4rem;
    }
    
    textarea {
        margin-top:1em;
    
        padding:0.4rem 1ch;
    
        width:100%;
        height:10em;
    
        font-size:2.5rem;
    }

    #progress {
        font-size:3rem;
    
        padding:0.6rem 0.6ch;
    
        border-radius:1.5rem;
    }

    /* #region Filter */
    #filter-section {
        height:5rem;
    }

    #filter h3 {
        font-size:3rem;

        padding:0.6rem 0.6ch;
    }

    /* #filter #selection label {
        font-size:3rem;
    } */
    /* #endregion */
    
    /* #region Credits */
    #credit-container {
        margin-top:0.5rem;
    }
    
    #credit-container h4, #credit-container pre {
        font-size:2rem;
    }
    
    #credits {
        height:20em;
    }
    /* #endregion */
}
