:root {
    --background: #000;
    --border-radius: 50px;
}

h1 {
    font-size:50px;

    text-underline-offset: 8px;
}

a {
    color:var(--primary);
}

#introduction {
    margin:30vh 100px 15vh 100px;
}

#stats {
    display:flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: row;

    h1 {
        font-size:40px;
    }

    div {
        /* background:red; */
    }

    #languages {
        table {
            margin:1em auto;

            th {
                font-size:35px;
            }

            tr {
                th {
                    text-align:start;
                }

                th:first-child {
                    text-align: end;
                    padding-right: 1ch;
                }
            }
        }

        h2 {
            font-size:30px;
            opacity: 0.5;
            font-style:italic;
            width:100%;
            text-align:center;
        }

        a {
            color:var(--text);
            text-decoration: none;
        }
    }

    #frameworks {
        li {
            font-size:30px;
        }
    }
}

#projects {
    margin: 15vh 50px;

    & > h1 {
        margin: 5vh 0;
        font-size:50px;
    }

    .project {
        /* background:red; */

        h1 {
            font-size:50px;
            margin-bottom:1ch;
        }

        h2 {
            /* background:blue; */
            font-size:35px;
            margin-bottom:1em;
        }

        img {
            display:block;

            width:100%;
            border-radius:var(--border-radius);
        }
    }
}
