:root {
    --background: #000;
    --border-radius: 50px;
}

h1 {
    font-size:50px;

    text-underline-offset: 8px;
}

a {
    color:var(--primary);
}

#introduction {
    margin:30vh 100px 15vh 100px;
}

#stats {
    display:flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: row;

    h1 {
        font-size:40px;
    }

    #languages {
        table {
            margin:1em auto;

            th {
                font-size:35px;
            }

            tr {
                th {
                    text-align:start;
                }

                th:first-child {
                    text-align: end;
                    padding-right: 1ch;
                }
            }
        }

        h2 {
            font-size:30px;
            opacity: 0.5;
            font-style:italic;
            width:100%;
            text-align:center;
        }

        a {
            color:var(--text);
            text-decoration: none;
        }
    }

    #frameworks {
        li {
            font-size:30px;
        }
    }
}

#projects {
    margin: 15vh 50px;

    & > h1 {
        margin: 5vh 0;
        font-size:50px;
    }

    .project {
        /* background:red; */
        margin-bottom:8em;

        h1 {
            font-size:50px;
            margin-bottom:1ch;
        }

        h2 {
            /* background:blue; */
            font-size:35px;
            margin-bottom:1em;
        }

        h3 {
            font-size:30px;
            font-style:italic;
            opacity: 0.5;

            width:100%;
            text-align:end;
        }

        img {
            display:block;

            width:100%;
            border-radius:var(--border-radius);
        }

        #description {
            #header {
                display:flex;
                justify-content: space-between;
                align-items: center;

                #links {
                    display:flex;
                    justify-content: start;
                    align-items: center;

                    img {
                        height:5ch;
                        width:5ch;
                        margin-left:2ch;
                    }
                }
            }
        }

        #showcase-four {
            display:grid;
            grid-template-columns: auto auto;
            width:100%;

            img {
                display:block;

                width:calc(100% - 2ch);
                margin:1ch;
            }
        }
    }
}

#footer {
    display:flex;
    justify-content: center;

    h1 {
        color:var(--primary);
    }
}
