#container {
    height:100vh;
    width:100%;

    display:flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

#parent {
    padding:5ch;

    display:flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    width:fit-content;

    background:var(--secondary);
    border-radius:1.5rem;
    border-style:solid;
    border-width:5px;
    border-color:var(--border-color);

    filter:drop-shadow(0 1ch 3ch #0006);

    transition-duration:0.3s;
}

#title {
    text-align:center;
}

textarea {
    margin-top:1em;

    color:white;
    background:var(--tertiary);

    border:none;
    border-radius:1.5rem;

    padding:0.4rem 1ch;

    width:100%;
    height:7em;

    font-size:1.5rem;

    outline:none;
    resize:none;

    transition-duration:0.3s;
    transition-timing-function: ease-in-out;
    transition-property: height, padding;
}

#answer[aria-label="closed"] {
    height:0 !important;
    padding:0;
    margin-bottom:0;

    color:#0000;
}

/* #region Filter */
#selection {
    display:flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;

    margin-top:1.5rem;
}

#selection h3 {
    font-size: 4rem;

    margin:0;
    padding:0.2em;

    border-radius:0.4em;

    background:var(--primary);
    filter: drop-shadow(0 0.1em 0.2em #0006);
}

#selection img {
    font-size: 4rem;

    height:1em;
    padding:0.35em;
    margin-right:1em;

    border-radius:0.4em;

    cursor:pointer;
    user-select: none;

    background:var(--primary);
    filter:drop-shadow(0 0.1em 0.2em #0006);
}


/* #endregion */

/* #region Menu */
#menu {
    position:absolute;
    top:0;

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background:#0008;

    height:100vh;
    width:100vw;

    margin:0;
    padding:0;

    z-index: 100;
}

#menu[aria-label="closed"] {
    display:none;
}

#menu #header {
    position: relative;

    display: flex;
    justify-content: end;
    align-items: center;

    width:80%;
}

#subject-selection {
    position:absolute;
    top:-50%;
    left:0;

    display:flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;

    border-radius: 2em;

    height:21em;

    overflow:hidden;
    user-select: none;
    cursor:pointer;

    transition-duration:0.3s;

    background:var(--secondary);

    filter:drop-shadow(0 0.2rem 0.6rem #0006);
}

#subject-selection:has(h3[aria-label="closed"]) {
    height:7em;
}

#subject-selection h3 {
    font-size: 4em;
    margin-bottom:0.3em;
    /* margin-left:1em; */

    padding:1rem 2rem;
    border-radius:2rem;

    background:var(--primary);
}

#subject-selection label {
    font-size: 3em;

    padding:0.3em 0.6em;
    border-radius:0.3em;

    margin-left:0.5em;

    cursor:pointer;

    transition-duration:0.3s;
}

#subject-selection input {
    display:none;
}

#subject-selection label:has(input:checked) {
    background:var(--border-color);
}

#header img {
    height:4em;

    cursor:pointer;

    filter:drop-shadow(0 0 0.2em #0005);
}

/* #region Browser */
#browser {
    display:flex;
    justify-content: start;
    align-content: center;
    flex-direction: column;

    background:var(--secondary);

    border-radius:3rem;
    border-style:solid;
    border-width:5px;
    border-color:var(--border-color);

    margin-top:3rem;
    padding:3em;

    overflow-y:scroll;

    height:fit-content;
    max-height:70%;
    width:calc(80% - 6em);

    transition-duration:0.3s;
}

#browser label {
    font-size: 3rem;

    padding:0.4em;

    border-radius:0.4em;
    margin-bottom:0.4em;
}

#browser label:last-child {
    margin-bottom:0;
}

#browser label:has(input:checked) {
    background:var(--border-color);
}

#browser label input {
    display:none;
}
/* #endregion */
/* #endregion */

/* #region Credits */
#credit-container {
    color:#fff4;

    margin-top:0.5rem;

    text-align: center;
}

#credit-container h4, #credit-container pre {
    font-size:1rem;
    font-style:italic;
}

#credit-container h4 {
    cursor:pointer;
}

#credit-container h4:hover {
    text-decoration: underline;
}

#credits {
    transition-duration:0.3s;
    height:10em;

    overflow:hidden;
}

#credits[aria-label="closed"] {
    height:0;
}
/* #endregion */

@media screen and (max-aspect-ratio: 1.42) {
    #parent {
        padding:5rem;
    
        width:calc(80% - 5rem);
    
        border-radius:1.5rem;
    }

    #title {
        font-size:4rem;
    }
    
    textarea {
        margin-top:1em;
    
        padding:0.4rem 1ch;
    
        width:100%;
        height:10em;
    
        font-size:2.5rem;
    }

    #progress {
        font-size:3rem;
    
        padding:0.6rem 0.6ch;
    
        border-radius:1.5rem;
    }

    #selection img {
        cursor:none;
    }

    /* #region Filter */
    #subject-selection {
        cursor:none;
    }

    #subject-selection label {
        cursor:none;
    }

    #menu img {
        cursor:none;
    }
    /* #endregion */
    
    /* #region Credits */
    #credit-container {
        margin-top:0.5rem;
    }
    
    #credit-container h4, #credit-container pre {
        font-size:2rem;
    }
    
    #credits {
        height:20em;
    }
    /* #endregion */
}

#countdown-promo {
    position:absolute;

    font-size:2.8em;

    width: fit-content;
    max-width:fit-content;
    top:3rem;
    right:2rem;

    padding:0.2em 1ch;

    filter:drop-shadow(0 0.2ch 1em #0009);
    background:var(--primary);

    border-radius:1rem;
}

#countdown-promo h3 {
    width:fit-content;
    max-width: fit-content;

    text-decoration: none;
    color:var(--text);
}

#countdown-promo a {
    display:flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color:var(--text);
}

#countdown-promo img {
    height:3.2rem;

    margin-left:1ch;
}
